@using TECH.Areas.Admin.Models
@using TECH.Utilities
@model PostModelView
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    .box-detail-post img{
        width: 100%;
    }
</style>
@if (Model != null)
{
    <section class="ftco-section ftco-degree-bg box-detail-post">
   <div data-v-77c39cb3="" class="container">
      <div data-v-77c39cb3="" class="row">
         <div data-v-77c39cb3="" class="col-lg-8">
            <h2 data-v-77c39cb3="" class="mb-3">@Model.title</h2>
            @Html.Raw(Model.content)
         </div>
         <div data-v-77c39cb3="" class="col-lg-4 sidebar">
              @await Component.InvokeAsync("ProductCountForCategoryIdPostComponent")
              @await Component.InvokeAsync("RecentPostsComponent")
         </div>
      </div>
   </div>
</section>
}
*@
<style>
    .box-detail-post img {
        width: 100%;
        margin: 30px 0px;
    }
</style>
@if (Model != null)
{
    <section class="ftco-section ftco-degree-bg box-detail-post custom-height" style="margin: 30px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="mb-3" style="color: #3d4d65 !important;font-weight: bold;">@Model.title</h2>
                    @Html.Raw(Model.content)

                </div>
                @*  <div class="col-lg-4 sidebar">

            @await Component.InvokeAsync("ProductCountForCategoryIdPostComponent")
            @await Component.InvokeAsync("RecentPostsComponent")

            </div>*@
            </div>
        </div>
    </section>
}
