<div data-v-c52b8308="" id="DetailModal" tabindex="-1" aria-labelledby="DetailModalTitle" class="modal fade bd-example-modal-lg" aria-modal="true" role="dialog">
   <div data-v-c52b8308="" class="modal-dialog modal-lg">
      <div data-v-c52b8308="" class="modal-content">
         <div data-v-c52b8308="" class="modal-header bg-custom">
            <h5 data-v-c52b8308="" id="DetailModalTitle" class="modal-title txt-title">Chi tiết đơn đặt hàng MDH15082022F617</h5>
            <button data-v-c52b8308="" type="button" data-dismiss="modal" aria-label="Close" class="close"><span data-v-c52b8308="" aria-hidden="true">×</span></button>
         </div>
         <div data-v-c52b8308="" class="modal-body">
            <table data-v-c52b8308="" class="table table-styling">
               <thead data-v-c52b8308="" class="bg-black">
                  <tr data-v-c52b8308="">
                     <th data-v-c52b8308="">Tên sản phẩm</th>
                     <th data-v-c52b8308="">Số lượng</th>
                     <th data-v-c52b8308="">Giá tiền</th>
                  </tr>
               </thead>
               <tbody data-v-c52b8308="">
                  <tr data-v-c52b8308="">
                     <td data-v-c52b8308="">
                        <div data-v-c52b8308="">AirPods 3</div>
                     </td>
                     <td data-v-c52b8308="">3</td>
                     <td data-v-c52b8308="">2,000,000<i data-v-c52b8308="">đ</i></td>
                  </tr>
               </tbody>
               <tfoot data-v-c52b8308="">
                  <tr data-v-c52b8308="" class="table-footer">
                     <td data-v-c52b8308="" colspan="2" class="txt-right">Tổng tiền:</td>
                     <td data-v-c52b8308="">6,000,000<i data-v-c52b8308="">đ</i></td>
                  </tr>
                  <tr data-v-c52b8308="" class="table-footer" style="display: none;">
                     <td data-v-c52b8308="" colspan="2" class="txt-right">Phí vận chuyển:</td>
                     <td data-v-c52b8308=""><span data-v-c52b8308="" style="display: none;"><i data-v-c52b8308="">đ</i></span> <span data-v-c52b8308="">0<i data-v-c52b8308="">đ</i></span> <span data-v-c52b8308="" style="display: none;">Nơi này chưa có phí cụ thể</span></td>
                  </tr>
                  <tr data-v-c52b8308="" class="table-footer">
                     <td data-v-c52b8308="" colspan="2" class="txt-right">Hình thức thanh toán:</td>
                     <td data-v-c52b8308="">
                        <div data-v-c52b8308="">Mua trực tiếp</div>
                     </td>
                  </tr>
                  <tr data-v-c52b8308="" class="table-footer">
                     <td data-v-c52b8308="" colspan="2" class="txt-right">Thành tiền:</td>
                     <td data-v-c52b8308="">6,000,000<i data-v-c52b8308="">đ</i></td>
                  </tr>
               </tfoot>
            </table>
         </div>
         <div data-v-c52b8308="" class="modal-footer"><button data-v-c52b8308="" type="button" data-dismiss="modal" class="btn btn-secondary btn-3d">Đóng</button></div>
      </div>
   </div>
</div>